*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.index {
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed; /* Effet de parallaxe */
}

   /* Animation au hover */
   .hover-zoom {
       transition: transform 0.3s ease, box-shadow 0.3s ease;
   }
   .hover-zoom:hover {
       transform: scale(1.05);
       box-shadow: 0px 10px 30px rgba(255, 255, 0, 0.5);
   }

   /* Empêcher le scroll */


@media (min-width: 0px ) and (max-width:799px) {
html, body {
   background-color: blue;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-size: cover;
}
}
@media (min-width: 800px ) and (max-width:1000000000px) {
html, body {
   height: 100vh;
    overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-size: cover;
}
}
/* Centrer le contenu */
#hero {
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
